/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.thought1{
    font-family: 'Source Code Pro', monospace;
}
.thought2{
    font-family: 'Liu Jian Mao Cao', cursive;
}
.thought3{
    font-family: 'Teko', sans-serif;
}